* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 15%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 60px;
    padding: 20px 5px;
    align-items: center;
}

.sidebar ul {
    list-style-type: none;
    margin-top: 60px;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.app-name {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.app-name.menu-item,
.sidebar ul li a.menu-item {
    transition: opacity 0.3s;
}

.sidebar.collapsed .menu-item {
    opacity: 0;
}

.content {
    width: 85%;
    padding: 20px;
    margin-left: 15%;
    transition: margin-left 0.3s;
}

.content.shifted {
    margin-left: 60px;
}

.topbar {
    width: calc(100% - 15%);
    height: 50px;
    background-color: white;
    color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 15%;
    transition: left 0.3s, width 0.3s;
    border-bottom: 2px solid black;
}

.content.shifted .topbar {
    left: 60px;
    width: calc(100% - 60px);
}

.hamburger-menu {
    font-size: 2em;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}
